* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lora, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.69em;
  color: #565050;
  background-color: #fff;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: #565050;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #fff;
  height: 95px;
}

.nav-menu > li > .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 94px;
  left: 0;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  z-index: 10;
  list-style: none;
  padding: 14px 0 18px;
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}
.nav-menu > li:hover > .dropdown {
  opacity: 100;
  visibility: visible;
}
.nav-menu > li > .dropdown > li > .dropdown-2 {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: -212px;
  top: -15px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  list-style: none;
  padding: 14px 0 18px;
  height: auto;
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}
.nav-menu > li > .dropdown > li:hover > .dropdown-2 {
  opacity: 100;
  visibility: visible;
}
.nav-menu > li > .dropdown > li,
.nav-menu > li > .dropdown > li > .dropdown-2 > li {
  width: 210px;
  cursor: pointer;
  position: relative;
}
.nav-menu > li > .dropdown > li > span,
.nav-menu > li > .dropdown > li > .dropdown-2 > li > span {
  position: relative;
}
.nav-menu > li > .dropdown > li > span > span,
.nav-menu > li > .dropdown > li > .dropdown-2 > li > span > span {
  display: block;
  float: none;
  margin: 0;
  padding: 5px 21px 5px 22px;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  line-height: 24px;
}
.nav-menu > li > .dropdown > li > span > span:hover,
.nav-menu > li > .dropdown > li > .dropdown-2 > li > span > span:hover {
  margin-left: 5px;
  color: #aaaaaa;
}
.nav-menu > li > .dropdown > li > span:before {
  content: "\25CF";
  color: #f7775e;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  left: 15px;
  top: 2px;
}
.nav-menu > li > .dropdown > li > .dropdown-2 > li > span:before {
  content: "\25CF";
  color: #f7775e;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  left: 15px;
  top: 2px;
}
.nav-menu > li > .dropdown > li > span:hover:before,
.nav-menu > li > .dropdown > li > .dropdown-2 > li > span:hover:before {
  visibility: visible;
  opacity: 100;
}
.nav-menu
  > li
  > .dropdown
  > li
  > .dropdown__has-child
  > .dropdown__has-child__item-text::after {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 8px;
  right: 17px;
  content: url("../images/arrow-right.svg");
  width: 17px;
}
.nav-menu
  > li
  > .dropdown
  > li
  > .dropdown__has-child:hover
  > .dropdown__has-child__item-text::after {
  content: url("../images/arow-righ-hover.svg");
}
.logo > .logo-link > img {
  height: 45px;
}

.logo > span {
  font-family: "Sans-serif", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.nav-menu {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
}
@media only screen and (max-width: 1150px) {
  .nav-menu {
    display: none !important;
  }
  .dropdown-special {
    display: none !important;
  }
  .icons {
    display: none !important;
  }
  .navbar-menu-sm {
    display: block !important;
    cursor: pointer;
  }
  .navbar-menu-sm__area {
    background-color: #fff;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    padding: 56px 51px 80px 75px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    width: 420px;
    max-width: 100%;
    z-index: 9999;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(170%, 0, 0);
    transform: translate3d(170%, 0, 0);
    -webkit-transition: transform 0.7s cubic-bezier(0.25, 1, 0.2, 1);
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.25, 1, 0.2, 1);
    transition: -webkit-transform 0.7s cubic-bezier(0.25, 1, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.25, 1, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.25, 1, 0.2, 1),
      -webkit-transform 0.7s cubic-bezier(0.25, 1, 0.2, 1);
  }
  .navbar-menu-sm__area.open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-box-shadow: 0 1px 23.28px 0.72px rgba(255, 51, 102, 0.07);
    box-shadow: 0 1px 23.28px 0.72px rgba(255, 51, 102, 0.07);
  }
  .navbar-menu-sm__area > ul > li,
  .navbar-menu-sm__area > ul > li > ul > li,
  .navbar-menu-sm__area > ul > li > ul > li > ul > li {
    list-style: none;
  }
  .navbar-menu-sm__area > ul > li > a,
  .navbar-menu-sm__area > ul > li > ul > li > a,
  .navbar-menu-sm__area > ul > li > ul > li > ul > li > a {
    text-decoration: none;
    color: #565050;
  }
  .navbar-menu-sm__area > ul > li > h6,
  .navbar-menu-sm__area > ul > li > ul > li > h6 {
    position: relative;
    display: block;
    padding: 5px 0;
    margin: 0;
    font-size: 15px;
    line-height: 35px;
    color: #565050;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.23em;
  }
  .navbar-menu-sm__area > ul > li > .sub_menu,
  .navbar-menu-sm__area > ul > li > ul > li > .sub_menu {
    margin-left: 15px;
    display: none;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
  }
  .navbar-menu-sm__area > ul > li > .sub_menu.open,
  .navbar-menu-sm__area > ul > li > ul > li > .sub_menu.open {
    margin-left: 15px;
    display: block;
    opacity: 100;
    visibility: visible;
    max-height: 500px;
  }
  #menu-main-menu-1 {
    height: calc(100vh - 136px);
    min-height: calc(100vh - 136px);
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  #menu-main-menu-1::-webkit-scrollbar {
    display: none; /* Ẩn scrollbar trên Chrome, Edge và Safari */
  }
  .navbar-menu-sm__area > .component__icon-close {
    display: block;
    position: absolute;
    top: 19px;
    right: 21px;
    z-index: 1000;
    cursor: pointer;
  }
  .navbar-menu-sm__area > .component__icon-close > .icon-close::before {
    content: url("../images/cross.svg");
    display: block;
  }
  .mobile_arrow {
    position: absolute;
    right: 0;
    top: 5px;
    width: 24px;
    height: auto;
    padding: 9px 12px 9px 0;
    font-size: 15px;
    line-height: inherit;
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mobile_arrow.special {
    top: -3px !important;
  }
  .mobile_arrow > .icon-arrow {
    display: block;
    transition: transform 0.3s ease;
  }
  .mobile_arrow > .icon-arrow::before {
    content: url("../images/arrow-right.svg");
  }
  .menu-item {
    position: relative;
    padding: 5px 0;
    -webkit-transform: translateZ(0);
  }
  .menu-item.current-item > a > span {
    color: #f7775e !important;
  }
  .menu-item > .sub_menu > li > a > span:hover,
  .menu-item > span:hover,
  .menu-item > h6 > span:hover {
    color: rgba(0, 0, 0, 0.9);
  }
  .menu-item.active > h6 > span,
  .menu-item.active > span > span {
    color: #f7775e;
  }
  .menu-item.open > .mobile_arrow > .icon-arrow,
  .menu-item.active > .mobile_arrow > .icon-arrow {
    transform: rotate(90deg);
  }
  .menu-item.active.open > .mobile_arrow .icon-arrow {
    transform: rotate(180deg);
  }
  .menu-item > span {
    display: block;
  }
}

.navbar-menu-sm {
  display: none;
}

.nav-menu > li > a {
  font-size: 10px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3.3px;
}
.nav-menu > li {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-menu > li > a:hover {
  color: #aaaaaa;
}

.nav-menu > .highlight > .fa-star {
  position: absolute;
  top: 35px;
  right: 7px;
  color: #f7775e;
  font-size: 10px;
  margin: 0;
}

.icons {
  display: flex;
  align-items: center;
  gap: 13px;
  max-width: 345px;
  justify-content: end;
}
.icons > .search-component {
  width: 43px;
  display: flex;
  align-items: center;
}
.icons > .search-component > .search-component__input::placeholder {
  font-style: italic;
}
.icons > .search-component > .search-component__input {
  display: none;
  width: 0px;
  transition: width 0.4s ease, opacity 0.3s ease;
  opacity: 0;
}
.icons > .search-component__open {
  width: 205px;
}
.icons > .search-component__open > .search-component__input {
  display: block;
  width: 164px;
  opacity: 1;
}

.icons > i {
  font-size: 16px;
  color: #777;
  cursor: pointer;
}

.icons > i:hover {
  color: #aaaaaa;
}

.search-icon {
  font-size: 16px;
  padding: 0 0 0 7px;
  cursor: pointer;
}
.search-component__open > .search-icon {
  padding: 0;
}
.search-component {
  position: relative;
}
.search-component > input:focus-visible {
  border: none;
  outline: none;
}
.search-component::before {
  content: "";
  height: 15px;
  width: 1px;
  background-color: #f2f2f2;
  left: 0;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* border-left: 1px solid #f2f2f2; */
  /* padding-left: 15px; */
}
.search-component > input {
  margin-bottom: 0;
  border-bottom: 0;
  padding: 0 0 0 7px;
  line-height: 43px;
  font-family: Lora, serif;
  font-weight: 400;
  color: #888;
  border: none;
  font-size: 14px;
  background-color: transparent;
}
.dropdown-special {
  width: 100vw;
  position: absolute;
  top: 94px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #f3f3f3;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.dropdown-special > ul {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 1100px;
  padding: 45px 0;
}
.dropdown-special > ul > li {
  width: 25%;
  padding: 0 35px;
  list-style: none;
}
.dropdown-special > ul > li > ul > li {
  list-style: none;
  display: block;
  position: relative;
  cursor: pointer;
}
.dropdown-special > ul > li > ul > li::before {
  content: "\25CF";
  color: #f7775e;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  left: 0px;
  top: 5px;
}

.dropdown-special > ul > li > ul > li:hover::before {
  visibility: visible;
  opacity: 100;
}
.dropdown-special > ul > li > ul > li:hover > .dropdown-special__item {
  margin-left: 15px;
  color: #aaaaaa;
}
.dropdown-special > ul > li > .dropdown-special__title {
  display: block;
  padding: 0 0 13px;
  color: #000;
  font-size: 14px;
  line-height: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}
.dropdown-special > ul > li > ul > li > .dropdown-special__item {
  display: block;
  padding: 5px 0;
}

@media only screen and (min-width: 1400px) {
  .dropdown-special > ul {
    width: 1300px;
  }
}

@media only screen and (min-width: 1481px) {
  .dropdown-special {
    width: 1481px;
  }
}
